# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# Project-specific
credentials.json
token.json
email-dump.json
budget-log.json

# Logs
*.txt